.wrapper
 .chat-side
  = render partial: "shared/side_bar"
 .chat-main
  .main-header
   .current-group
    %h2.current-group_name
     = @group.name
    %ul.member-list
     Member :
     %li.member-list_member
      - @groups. each do |group|
       = group.name
   %a 
    %div.main-header_edit-btn
     = link_to edit_group_path(current_user) do
      Edit

  .messages
   = render @messages

  .form
   .new-message
    .input-box
     = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box_text', placeholder: 'type a message'
      .form_mask
       = f.label :image, class: 'image-label' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'image-label_input'
      = f.submit 'Send', class: 'new-message_submit-btn'
     
